<header>
  <nav>
    <ul class="head">

      <li>
        <a href="#">메인 페이지</a>
      </li>

      <li>
        <a href="#">점메추</a>
      </li>

      <li>
        <a href="/notice/notice">공지사항</a>
      </li>

      <li>
        <a href="#">FAQ</a>
      </li>
    </ul>
  </nav>
  
  <a href="/">
    <img src="/images/logo.png" alt="">
  </a>

  
  <div class="headRight">
    <span>로그인</span>
    <span>회원 가입</span>
    <i class="fa-solid fa-bars"></i>
  </div>

</header>

<script th:inline="javascript">
  const message =  /*[[${message}]]*/ "전달 받은 message";
  if(message != null) alert(message);
</script>

<script src="https://kit.fontawesome.com/8c48587fe7.js" crossorigin="anonymous"></script>