<section class="left-section">

  <div class="admin-icon">
    <a href="https://www.flaticon.com/kr/free-icons/-" title="시스템 관리자 아이콘"><img src="/images/admin.png" width="55px" height="55px"></a>
  </div>

  <div class="adminSideMenu">
    <div class="btnLightBlue button btnFade"> <a href="/admin/member/manage">회원 관리</a></div>
    <div class="btnLightBlue button btnFade"> <a href="/admin/restaurant">   가게 관리</a></div>
    <div class="btnLightBlue button btnFade"> <a href="/admin/report/board"> 신고 관리 - 점메추</a></div>
    <div class="btnLightBlue button btnFade"> <a href="/admin/report/review">신고 관리 - 리뷰</a></div>
    <div class="btnLightBlue button btnFade"> <a href="/admin/report/comment">신고 관리 - 댓글</a></div>
    <div class="btnLightBlue button btnFade"> <a href="/admin/notice">       공지 관리</a></div>
    <div class="btnLightBlue button btnFade"> <a href="/admin/faq">          FAQ 관리</a></div>
  </div>

</section>