<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ 수정 페이지</title>
  <link rel="stylesheet" href="/css/admin/noticeInsert.css">
  <link rel="stylesheet" href="/css/common/header.css">
</head>
<body>

  <th:block th:replace="~{common/header}"></th:block>
  
  <main>
    <th:block th:replace= "~{admin/adminSide}"></th:block>
    <section class="main-section">

      <div class="insert-box">

        <h1>FAQ 수정</h1>
        <form action="faqEdit" method="POST"
          id="faqInsertFrm" class="insert-frm" th:object="${faq}">

          <input type="text" name="faqTitle" placeholder="제목" class="title-input" th:value="*{faqTitle}"> 

          <textarea name="faqContent" placeholder="본문 내용은 10 글자 이상으로 입력" class="text-area" th:text="*{faqContent}"></textarea>

          <input type="hidden" name="faqNo" th:value="*{faqNo}">
          <button id="insertBtn">등록하기</button>
        </form>
      </div> 

    </section>
    <section class="right-section">

    </section>
  </main>
  <script src="/js/admin/faqInsert.js"></script>
</body>
</html>