<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지 사항 등록</title>
  <link rel="stylesheet" href="/css/admin/noticeInsert.css">
  <link rel="stylesheet" href="/css/common/header.css">
</head>
<body>

  <th:block th:replace="~{common/header}"></th:block>
  
  <main>
    <th:block th:replace= "~{admin/adminSide}"></th:block>
    <section class="main-section">

      <div class="insert-box">

        <h1># 공지 사항 등록</h1>
        <form action="insert" method="POST"
          id="restaurantResistFrm" class="insert-frm">

          <input type="text" name="noticeTitle" placeholder="제목" class="title-input"> 

          <div class="inputChoose">
            <input type="radio" value="공지" name="noticeCategry" id="noticeCategry1">
            <label for="noticeCategry1"># 공지</label>

            <input type="radio" value="이벤트" name="noticeCategry" id="noticeCategry2">
            <label for="noticeCategry2"># 이벤트</label>
          </div>

          <textarea name="noticeContent" placeholder="본문 내용은 10 글자 이상으로 입력" class="text-area"></textarea>
          <button id="insertBtn">등록하기</button>
        </form>
      </div>





    </section>
    <section class="right-section">

    </section>
  </main>

  <script src="/js/admin/noticeInsert.js"></script>
</body>
</html>