<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>가게 관리 페이지</title>
  <link rel="stylesheet" href="/css/admin/restaurantManage.css">
  <link rel="stylesheet" href="/css/common/header.css">
</head>
<body>

  <th:block th:replace="~{common/header}"></th:block>
  
  <main>
    <th:block th:replace= "~{admin/adminSide}"></th:block>
    <section class="main-section">

      <h1>가게 관리 페이지</h1>
      <div class="restaurant-list">


        <th:block th:if="${#lists.isEmpty(restaurantList)}">        
          <div class="none-list">조회된 결과가 없습니다</div>
        </th:block>


        <div th:each= "restaurant : ${restaurantList}" th:object="${restaurant}" id="restaurantList">
          <div class="restaurant-div">
            <div class="restaurant-box">
              <a th:href="@{/admin/restaurant/{restaurantNo}(restaurantNo=*{restaurantNo})}">
                <span th:text="*{restaurantNo}"></span>
                <span th:text="*{restaurantName}"></span>
                <span th:text="|# *{categoryName}|"></span>
                <span th:text="|# *{locationName}|"></span>
                <span th:text="*{restaurantTel}"></span>
              </a>
            </div>
          </div>
        </div>

      </div>

      <div class="btn-area">
        <button class="restaurant-regist-btn" id="restaurantRegistBtn">가게 등록</button>
      </div>

      <div class="pagination-area" th:unless="${#lists.isEmpty(restaurantList)}">

        <ul class="pagination" th:object="${pagination}">
          <li><a href="#">&lt;&lt;</a></li>
          <li><a href="#">&lt;</a></li>

          <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}" >
            
            <li th:if= "${i} == *{currentPage}">
              <a class="current" th:text="${i}">현재 페이지</a>
            </li>
    
            <li th:unless= "${i} == *{currentPage}"> 
              <a href="#" th:text="${i}">이동할 수 있는 페이지</a>   <!-- th:href="|?cp=${i}|" -->
            </li>
          </th:block>

          <li><a href="#">&gt;</a></li>
          <li><a href="#">&gt;&gt;</a></li>
        </ul>

      </div>




   
      

    </section>
    <section class="right-section">
      <form action="/admin/restaurant" method="GET" id="restaurantSearch">

        <div class="search-box">

          <select name="key" id="searchKey">
            <option value="rn">이름</option>
            <option value="l">지역</option>
            <option value="n">번호</option>
          </select>
  
          <input type="text" name="query" id="searchQuery" placeholder="검색어를 입력해주세요.">
  
          <button type="submit" class="search-btn">검색</button>

        </div>

      </form>

    </section>


       <!-- 팝업 -->

      <div id="restaurantDetail" class="popup-hidden">
        <span id="popupClose">&times;</span>
        <div class="popup-head-area">
          <h1>가게 정보</h1> 
        </div>

        <div class="img-area">

          <div class="restaurantImg">
            <img id="restaurantImg1">
          </div>

          <div class="restaurantImg">
            <img id="restaurantImg2">
          </div>

        </div>

        <h3># 가게 이름</h3>
        <span id="selectRestaurantName" class="restaurant-span"></span>

        <h3># 메뉴</h3>

        <div id="menuArea" class="menu-area"></div>

        <h3># 태그</h3>
        <span id="selectLoctionName" class="restaurant-tag"># 치킨</span>
        <span id="selectCategoryName" class="restaurant-tag"># 혜화</span>

        
        <h3># 전화 번호</h3>
        <span id="selectRestaurantTel" class="restaurant-span">02-1111-2222</span>

        <h3># 주소</h3>
        <span id="selectRestaurantAddress" class="restaurant-span"></span>

        <div class="popup-btn-area">
          <button id="updateBtn">수정</button>
          <button id="deleteBtn">삭제</button>
        </div>
      </div>



  </main>


  <script th:inline="javascript">
    const pagination = /*[[${pagination}]]*/ "페이지네이션 객체"    
  </script>

  <script src="/js/admin/restaurantManage.js"></script>
</body>
</html>

