<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>가게 정보 수정</title>
  <link rel="stylesheet" href="restaurantRegist.css">
  <link rel="stylesheet" href="/css/admin/restaurantRegist.css">
  <link rel="stylesheet" href="/css/common/header.css">
</head>
<body>

  <th:block th:replace="~{common/header}"></th:block>
  
  <main>
    <th:block th:replace= "~{admin/adminSide}"></th:block>
    <section class="main-section">
      
      <div class="restaurant-regist-box">

        <h1>가게 등록</h1>

        <form method="POST" 
              action="update" 
              id="restaurantResistFrm" 
              enctype="multipart/form-data">

          <div class="img-area">

            <div class="restaurantImg">
              <label for="img1">
                +
                <img class="preview" th:src="">
              </label>
              <input type="file" name="restaurantImages" class="inputImage" id="img1" accept="image/*">
              <span class="delete-image">&times;</span>
            </div>

            <div class="restaurantImg">
              <label for="img2">
                +
                <img class="preview" src="">
              </label>
              <input type="file" name="restaurantImages" class="inputImage" id="img2" accept="image/*">
              <span class="delete-image">&times;</span>
            </div>

          </div>

          <div class="content-area">

            <h3># 가게 이름</h3>
            <label for="restaurantName"></label>
            <input type="text" name="restaurantName" id="restaurantName" placeholder="가게 이름" value="">


            <br><br>

            <h3># 카테고리 선택</h3>

            <div class="inputChoose" >
              <th:block th:each= "category:${categoryList}">
                <input type="radio" name="categoryNo"  th:value="${category.categoryNo}"  th:id="'category' + ${category.categoryNo}" >
                <label th:for="'category' + ${category.categoryNo}" th:text="${category.categoryName}"></label>
              </th:block>
            </div>

            <h3># 지역 선택</h3>

            <div class="inputChoose" >
              <th:block th:each= "location:${locationList}">
                <input type="radio" name="locationNo"  th:value="${location.locationNo}"  th:id="'location' + ${location.locationNo}" >
                <label th:for="'location' + ${location.locationNo}" th:text="${location.locationName}"></label>
              </th:block>
            </div>

            <h3># 메뉴 선택</h3>
            
            <button id="menuPlusBtn" type="button" class="menuBtn">+</button>
            <button id="menuMinusBtn" type="button" class="menuBtn">-</button>

            <table border="1" class="menuTable">
              
              <thead>
                <tr>
                  <th>메뉴명</th>
                  <th>가격</th>
                </tr>
              </thead>
              <tbody class="menuTable-body">
                <tr>  <!-- dto를 따로 만들어야 하는건가 여러가지 동시 insert -->
                  <td><input type="text" name="menuName" placeholder="음식 이름을 입력해 주세요"></td>
                  <td><input type="text" name="menuPrice" placeholder="가격을 입력해주세요" ></td>
                </tr>
                
                <tr>  
                  <td><input type="text" name="menuName" placeholder="음식 이름을 입력해 주세요"></td>
                  <td><input type="text" name="menuPrice" placeholder="가격을 입력해주세요" ></td>

                </tr>

              </tbody>
            </table>

            <h3># 전화번호 입력</h3>
            <input type="text" name="restaurantTel"  placeholder="전화 번호('-' 제외하고 입력)" value="">

            <h3># 주소 입력</h3>

            <div class="adress-area">
    
              <div class="restaurant-address">
                <input type="text" name="restaurantAddress"
                placeholder="우편번호" id="postcode"
                th:value="${postcode}">
                <button type="button" id="findAddressBtn">검색</button>
              </div>
    
              <div class="restaurant-address">
                <input type="text" name="restaurantAddress"
                  placeholder="도로명/지번 주소" id="address"
                  th:value="${address}">
              </div>
    
              <div class="restaurant-address">
                <input type="text" name="restaurantAddress"
                  placeholder="상세 주소" id="detailAddress"
                  th:value="${detailAddress}">
              </div>
            </div>

            <button class="registBtn">가게 등록</button>
          </div>



        </form>



      </div>
    </section>
    <section class="right-section"></section>
  </main>


  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/admin/restaurantRegist.js"></script>


</body>
</html>