<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>가게 관리 페이지</title>
  <link rel="stylesheet" href="/css/admin/restaurantManage.css">
  <link rel="stylesheet" href="/css/common/header.css">
</head>
<body>

  <th:block th:replace="~{common/header}"></th:block>
  
  <main>
    <section class="left-section">사이드 메뉴</section>
    <section class="main-section">

      <h1>가게 관리 페이지</h1>
      <div class="restaurant-list">
        <div class="restaurant-div">

          <div class="restaurant-box">
            <a href="#">
              <span>222342</span>
              <span>냉면</span>
              <span>혜화역</span>
              <span>010-XXXX-XXXX</span>
            </a>
        
          </div>
          <div class="btn-box">
            <button>수정</button>
            <button>삭제</button>
          </div>
  
        </div>
  
        
        <div class="restaurant-div">
  
          <div class="restaurant-box">
            <a href="#">
              <span>222342</span>
              <span>냉면</span>
              <span>혜화역</span>
              <span>010-XXXX-XXXX</span>
            </a>
          </div>
          <div class="btn-box">
            <button>수정</button>
            <button>삭제</button>
          </div>
  
        </div>
  
        
        <div class="restaurant-div">
  
          <div class="restaurant-box">
            <a href="#">
              <span>222342</span>
              <span>냉면</span>
              <span>혜화역</span>
              <span>010-XXXX-XXXX</span>
            </a>
          </div>
          <div class="btn-box">
            <button>수정</button>
            <button>삭제</button>
          </div>
  
        </div>

      </div>

      <div class="btn-area">
        <button class="restaurant-regist-btn" id="restaurantRegistBtn">가게 등록</button>
      </div>

      <div class="pagination-area">

        <ul class="pagination">
          <li><a href="#">&lt;&lt;</a></li>
          <li><a href="#">&lt;</a></li>

          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>

          <li><a href="#">&gt;</a></li>
          <li><a href="#">&gt;&gt;</a></li>
        </ul>

      </div>

      

    </section>
    <section class="right-section">
      <form action="#" method="get" id="boardSearch"></form>

        <select name="key" id="searchKey">
          <option value="n">이름</option>
          <option value="l">지역</option>
        </select>

        <input type="text" name="query" id="searchQuery" placeholder="검색어를 입력해주세요.">

        <button>검색</button>
      </form>

    </section>
  </main>



  <script src="/js/admin/restaurantManage.js"></script>
</body>
</html>