<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>J&T</title>
  <link rel="stylesheet" href="/css/main/main.css">
  <link rel="stylesheet" href="/css/main/popUp.css">
  <link rel="stylesheet" href="https://fontawesome.com/v5/icons/heart?f=classic&s=solid">
  <link rel="stylesheet" href="css/admin/adminSide.css">
</head>

<body>

  <!-- Header Section -->
  <header>
    <div id="header-Font">
      <a href="/">메인페이지</a>
      <a href="/board/boardMain">점메추</a>
      <a href="/notice/noticeView">공지사항</a>
      <a href="/notice/faq">FAQ</a>

      <div class="logoBox">
        <a href="#">
          <img src="/images/logo-m.png" alt="로고" id="logoImage">
          <img src="/images/logoText.png" alt="로고 글자" id="logoText">
        </a>
      </div>

    </div>
      <!-- 로그인이 안되어있을때 -->
    <div class="user-actions" th:unless= "${session.loginMember}">
      <a href="/myPage/signUp">회원 가입</a> | <a href="/myPage/loginPage">로그인</a>
    </div>

    <!-- 로그인이 되어있을경우 -->
    <div th:if= "${session.loginMember}" class="user-actions">
      <img th:src="${session.loginMember.profileImg ?: user }" alt="" class="userImage">
      <p th:text="${session.loginMember.memberName}">유저 닉네임</p>
      <a class="menu" href="#">
        <i class="fa-solid fa-bars"></i>
      </a>
    </div>

  </header>

  <!-- Main Content -->
  <main>
    <form class="content-header" action="/search" method="GET" id="searchForm">
      <h1>맛집 검색 J&T ! </h1>
      <input type="hidden" class="result" name="result">
      <div class="searchBox">

        <input type="text" id="searchCode" name="searchCode">

        <button id="searchBtn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>

      </div>


      <div class="filter">
        <a class="filter-category" id="foodCategoryBtn">음식 종류</a>


        <a class="filter-category" id="regionCategoryBtn">지역 선택</a>
      </div>
      
      <div>
        <input class="tag" name="tag" readonly >
  
        <input class="region" name="region" readonly>
      </div>
    </form>

    <!-- ------------------------------------카테고리 팝업-------------------------------------------------------- -->

    <div class="foodCategoryPopUp foodCategoryPopUp-close">
      <div class="foodCategoryPopUp-title">음식 카테고리
        <button class="foodClosePopup">
          <i class="fa-solid fa-arrow-left"></i>팝업 닫기
        </button>
      </div>

      <div class="foodCategoryPopUp-arrow">
        <div class="foodCategoryPopUp-left">
          <div class="foodCategoryBtnBox"> <button class="foodCategoryBtn" name="valus" value="한식">#한식</button> </div>
          <div class="foodCategoryBtnBox"> <button class="foodCategoryBtn" name="valus" value="양식">#양식</button> </div>
          <div class="foodCategoryBtnBox"> <button class="foodCategoryBtn" name="valus" value="일식">#일식</button> </div>
          <div class="foodCategoryBtnBox"> <button class="foodCategoryBtn" name="valus" value="중식">#중식</button> </div>
        </div>

        <div class="foodCategoryPopUp-right">

          <p id="foodBtnResult">카테고리를 선택해주세요</p>
          <div>
            <button class="foodCategorySubmit">적용하기</button>
          </div>
        </div>
      </div>
    </div>


    <div class="regionCategoryPopUp regionCategoryPopUp-close">
      <div class="regionCategoryPopUpBox">
        <div class="regionCategoryPopUp-title">지역 설정
          <button class="regionClosePopUp">
            <i class="fa-solid fa-arrow-left"></i>팝업 닫기
          </button>
        </div>
        <div class="regionCategoryPopUp-arrow">

          <div class="regionCategoryPopUp-left">
            <div class="regionCategoryPopUp-leftBox"
                th:each="location:${locationList}">
              <div class="regionListBtn"
                th:text="${location.locationName}">지역 이름
              </div>

            </div>
          </div>


          <div class="regionCategoryPopUp-right">
            <p id="regionBtnResult">지역을 선택해주세요</p>
            <div>
              <button class="regionCategorySubmit">선택하기</button>
            </div>
          </div>
        </div>
      </div>

    </div>



    <!-- ------------------------------------------------------------------------------------- 하나만 필요  -->

    <section>

      <div class="sectionBox slider" >
        <h3>#인기순</h3>
        <br>
        <section class="popular-section  slider-items">
          
          <div class="store-box item" th:each="like:${listLike}">
            <input type="hidden" th:value="${like.restaurantNo}" class="restaurantNo">
            <div class="store-image">
              <!-- The image will go here -->
              <img th:src="${like.restaurantImg1}">
            </div>
            <div class="store-info">
              <span class="store-name" th:text="${like.restaurantName}">
              </span>
              <!-- <i class="fa-solid fa-heart"></i> 차있는 하트 -->
              <button class="heartBtn" name="likeBtn">
                <i class="far fa-heart fa-lg " style="color: #ff0000;"
                th:classappend="${like.likeCheck == 1}?  fa-solid : fa-regular"></i>
              </button>
            </div>
          </div>


        </section>
      </div>

      <div class="sectionBox slider">

        <h3>#최신등록순</h3>
        <br>
        <section class="popular-section slider-items">
          <div class="store-box item" th:each="current:${listCurrent}">
            <input type="hidden" th:value="${current.restaurantNo}" class="restaurantNo">
            <div class="store-image">
              <!-- The image will go here -->
              <img th:src="${current.restaurantImg1}" alt="가게 사진">
            </div>
            <div class="store-info">
              <span class="store-name" th:text="${current.restaurantName}">

              </span>
              <!-- <i class="fa-solid fa-heart"></i> 차있는 하트 -->
              <button class="heartBtn" name="likeBtn">
                <i class="far fa-heart fa-lg" style="color: #ff0000;"
                th:classappend="${current.likeCheck == 1}? fa-solid :  fa-regular"></i>
              </button>
            </div>
          </div>


        </section>
      </div>
      <div class="sectionBox slider">

        <h3>#리뷰 많은 순</h3>
        <br>
        <section class="popular-section slider-items">
          <div class="store-box item" th:each="review:${review}">
            <input type="hidden" th:value="${review.restaurantNo}" class="restaurantNo">
            <div class="store-image">
              <!-- The image will go here -->
              <img th:src="${review.restaurantImg1}" alt="가게 사진">
            </div>
            <div class="store-info">
              <span class="store-name" th:text="${review.restaurantName}">

              </span>
              <!-- <i class="fa-solid fa-heart"></i> 차있는 하트 -->
              <button class="heartBtn" name="likeBtn">
                <i class="far fa-heart fa-lg" style="color: #ff0000;"
                th:classappend="${review.likeCheck == 1}? fa-solid :  fa-regular"></i>
              </button>
            </div>
          </div>


        </section>
      </div>


    </section>


    <div class="menu-container" th:if="${session.loginMember}">
      <div class="profile-img">
        <img th:src="${session.loginMember.profileImg ?: user }" alt="profile" th:with= "user=#{user.default.image}">
      </div>


      <p class="sideP" th:text="${session.loginMember.memberName}"></p>

      <nav>
        <a href="/myPage/myPage" id="myPage" class="sideItem">마이 페이지</a> <!-- 마이페이지 링크 추가 -->
        <a href="/board/boardMain" class="sideItem">점메추 게시판</a>
        <a href="/notice/notice" class="sideItem">공지 사항</a>
        <a href="/notice/faq" class="sideItem">FAQ</a>
      </nav>
    </div>
    <!-- --------------------------------------- -->










    <!-- Floating Buttons
    <div class="floating-buttons">
      <a class="scroll-top" href="#">⬆</a>
    </div> -->

  </main>
  <th:block th:replace="~{common/footer}"></th:block>
<!-- Floating Buttons -->
<button class="fa-solid fa-arrow-up" id="topBtn"></button>
 

<script src="https://kit.fontawesome.com/ac3b627b7e.js" crossorigin="anonymous"></script>
  <script th:inline="javascript">
        // 로그인 되어있으면 true, 아니면 false
        const loginCheck = /*[[${session.loginMember != null}]]*/ false;
  </script>

  <script src="https://kit.fontawesome.com/83d69cfe2d.js" crossorigin="anonymous"></script>
  <script src="/js/main/main.js"> </script>
</body>

</html>