<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailpage</title>

    <link rel="stylesheet" href="/css/main/search.css">
    <link rel="stylesheet" href="/css/main/popUp.css">
    <link rel="stylesheet" href="/css/common/header.css">
</head>


<!-- ------------ 헤더 ----------------- -->

<th:block th:replace= "~{common/header}"></th:block>
<!-- ------------ 헤더 ----------------- -->
<body>





    <div class="bodyItem" >
        <!-- ------------- 사이드 ---------------------- -->
        <aside class="category">

            <form action="/search" method="get" class="categoryBox" >
                <div class="categorySearchBox" >


                    <div class="searchBox">
                        <input type="text" class="categorySearch" name="searchCode" id="categorySearch" placeholder="검색">
                        <button class="categorySearch_btn">🍳</button>
                    </div>

                </div>

                <hr>
                <div  th:text="${locationName}">지역별</div>

                <hr>

                <div>카테고리</div>


                <div class="categoryBtns_box">
                    <button class="categoryBtns">최신순</button>|
                    <button class="categoryBtns">호불호 순</button>|
                    <button class="categoryBtns">리뷰 많은 순</button>|
                    <button class="categoryBtns">찜 많은 순</button>

                </div>
                <hr>

            </form>

        </aside>
        <!-- ------------- 사이드 ---------------------- -->



        <div>
            <!-- -------------------------- 몸통 ------------------ -->

            <!-- 게시글이 존재하지않을때 -->
            <th:block th:if= "${#lists.isEmpty(searchResult)}">
                <h1>  조회한 결과가 없습니다.  </h1>
            </th:block>

            <!-- 게시글이 존재할때 -->
            <th:block th:unless= "${#lists.isEmpty(searchResult)}">
                <section class="store-section" th:each="searchCode:${searchResult}">
                    <input type="hidden" th:value="${searchCode.restaurantNo}" class="restaurantNo">
                  <div class="store-image">
                    <img th:src="@{searchCode.restaurantImg1}" alt="매장 이미지">
                </div>
                <div class="store-info">
                    <h1 th:text="${searchCode.restaurantName}">매장 이름</h1>
                    <p class="store-address" th:text="${searchCode.restaurantAddress}">주소</p>
                    <p th:text="${searchCode.categoryName}"></p>
                    <p class="store-phone" th:text="${searchCode.restaurantTel}">전화번호</p>
                </div>
                <div class="store-actions">
                    <p class="store-rating" th:text="|${searchCode.likePercent}%|">퍼센트</p>
                    <button class="heartBtn">
                        <i class="far fa-heart fa-lg" style="color: #ff0000;"></i>
                    </button>
                </div>
                <input type="hidden" th:value="${searchCode.restaurantNo}" class="restaurantNo">
                </section>
            </th:block>


            



            <!-- -------------------------- 몸통 ------------------ -->

        </div>
    
              <!-- --------------------------------------- side --> 
              <div class="menu-container">
                <div class="profile-img">
                  <img src="../html/images/샘플.jpg" alt="profile">
                </div>
                
                
                <p class="sideP">김성민</p>
                
                <nav>
                  <a href="#" class="sideItem">마이 페이지</a>
                  <a href="#" class="sideItem">메인 페이지</a>
                  <a href="#" class="sideItem">점메추 게시판</a>
                  <a href="#" class="sideItem">공지 사항</a>
                  <a href="#" class="sideItem">FAQ</a>
                </nav>
              </div>
        <!-- --------------------------------------- -->

    <div class="floating-buttons">
        <a class="scroll-top" href="#">⬆</a>
    </div>
    <script th:inline="javascript">
        // 로그인 되어있으면 true, 아니면 false
        const loginCheck = /*[[${session.loginMember != null}]]*/ false;
    </script>
    <script src="/js/main/search.js"> </script>
    <script src="https://kit.fontawesome.com/83d69cfe2d.js" crossorigin="anonymous"></script>
</body>
</html>