<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>

    <link rel="stylesheet" href="/css/myPage/passwordChange.css">
    <link rel="stylesheet" href="/css/myPage/myPage.css">
    <link rel="stylesheet" href="/css/common/header.css">
</head>
<body>

    <!-- Header Section -->
    <th:block th:replace="~{common/header}"></th:block>

    <!-- Main Content -->

    <main>
            <div class="withdrawal-container">
                <h2>비밀번호 변경</h2>
                <form action="passwordChange" method="POST" name="pwChangeForm" id="pwChangeForm">
                    <label for="password"></label>
                    <input type="password" id="currentPw" name="currentPw" placeholder="현재 비밀번호">
    
                    <div>
                      <input type="password" id="newPw" name="newPw" placeholder="새 비밀번호" style="margin-bottom: 1%;">
                      <input type="password" id="newPwConfirm" name="newPwConfirm" placeholder="새 비밀번호 확인" style="margin-bottom: 1%;">
                    </div>
                    
                    <div style="text-align: left; color: #acacac; font-size: 0.8rem; margin-left: 1%; margin-bottom: 2%;">영어,숫자,특수문자 1글자 이상, 6~20자 사이로 입력해주세요.</div>
    
    
                    <button id="submitBtn" type="submit">변경하기</button>
                </form>
            </div>
    </main>

    
    <th:block th:replace="~{common/footer}"></th:block>
    <!-- 비밀번호 변경 JS 추가 -->
    <script src="/js/myPage/myPage.js"></script>

</body>
</html>
