<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap">
    <link rel="stylesheet" href="/css/myPage/pwFind.css">
    <link rel="stylesheet" href="/css/common/header.css">
</head>

<body>
    <!-- Header Section -->
    <th:block th:replace="~{common/header}"></th:block>

    <!-- Main Content -->
    <form action="pwFind" method="POST" name="pwFindFrm" id="pwFindFrm">
        <div class="signup-container">
            <div class="signup-box">
              <h2>비밀번호 찾기</h2>
                <div style="display: flex; width: 100%;">
                    <input type="email" id="memberEmail" name="memberEmail" placeholder="이메일">
                    <button class="inline-button" id="sendAuthKeyBtn" type="button" style="padding: 0 20px; width: 24%; text-align: center;">인증번호 받기</button>
                </div>
                <div id="emailMessage" style="text-align: left; font-size: 0.8rem; margin-left: 1%; margin-bottom: 2%;">
                    메일을 받을 수 있는 이메일을 입력해주세요.</div>
                <div style="display: flex; width: 100%;">
                    <input type="text" name="authKey" id="authKey" placeholder="인증번호 입력" maxlength="6" autocomplete="off" >
                    <button class="inline-button" id="checkAuthKeyBtn" type="button" style="padding: 0 20px; width: 24%; text-align: center;">인증하기</button>
                </div>
                <span class="signup-message" id="authKeyMessage" style="display: flex;"></span>
                
                <th> <button type="button" id="sendEmail" name="sendEmail" style="margin-top: 5%;">이메일 발송</button> </th>
            </div>
        </div>
    </form>

    <button class="back-to-top">▲</button>
    <script>
        document.querySelector('.back-to-top').addEventListener('click', function () {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    </script>

    <script th:inline="javascript">
        const message =  /*[[${message}]]*/ "전달 받은 message";
    
        if(message != null) alert(message);

    
    </script>

    <script src="/js/myPage/pwFind.js"></script>
</body>

</html>