<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>

    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/myPage/signUp.css">
    <link rel="stylesheet" href="/css/main/popUp.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap">
    <style>
       
    </style>
</head>

<body>
    <!-- Header Section -->
    <th:block th:replace="~{common/header}"></th:block>

    <!-- Main Content -->
    <main>
            <div class="signup-container">
                <form action="signUp" method="POST" name="signUpForm" id="signUp">
                    <div class="signup-box">
                        <h2>회원 가입</h2>
                        <div style="display: flex; width: 100%;">
                            <input type="email" name="memberEmail" id="memberEmail" placeholder="이메일">
                            <button class="inline-button" id="sendAuthKeyBtn" type="button" style="padding: 0 20px; width: 24%; text-align: center;">인증번호 받기</button>
                        </div>
                        <div id="emailMessage" style="text-align: left; font-size: 0.8rem; margin-left: 1%; margin-bottom: 2%;">
                            메일을 받을 수 있는 이메일을 입력해주세요.</div>
                        <div style="display: flex; width: 100%;">
                            <input type="text" name="authKey" id="authKey" placeholder="인증번호 입력" maxlength="6" autocomplete="off" >
                            <button class="inline-button" id="checkAuthKeyBtn" type="button" style="padding: 0 20px; width: 24%; text-align: center;">인증하기</button>
                        </div>
                        <span class="signup-message" id="authKeyMessage" style="display: flex;"></span>
                        <div style="display: flex; width: 130%;">
                            <input type="password" name="memberPw" placeholder="비밀번호">
                        </div>
                        <div style="display: flex; width: 130%;">
                            <input type="password" name="memberPwConfirm" placeholder="비밀번호 확인">
                        </div>
                        <div style="text-align: left; color: #acacac; font-size: 0.8rem; margin-left: 1%; margin-bottom: 2%;">영어,숫자,특수문자 1글자 이상, 6~20자 사이로 입력해주세요.</div>
                        <div style="display: flex; width: 130%;">
                            <input type="text" name="memberName" placeholder="이름">
                        </div>
                        <div style="text-align: left; color: #acacac; font-size: 0.8rem; margin-left: 1%; margin-bottom: 2%;">한글,영어,숫자로만 3~10글자</div>
                        <button style="margin-top: 5%;">회원가입</button>
                        <div class="signup-links">
                            <a href="/myPage/loginPage">이미 회원이신가요?</a>
                        </div>
                    </div>
                </div>
                </form>
    </main>


    
      <!-- 회원 가입 JS 추가 -->
     <script src="/js/myPage/signUp.js"></script>


</body>

</html>