<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.jmt.admin.mapper.AdminMapper">

	<select id="selectCategoryList"
			resultType="map">
		SELECT 
			CATEGORY_NO "categoryNo" ,
			CATEGORY_NAME "categoryName"
		FROM "CATEGORY"
	</select>
	
	
	<select id="selectLocationList"
			resultType="map">
		SELECT 
			LOCATION_NO "locationNo" ,
			LOCATION_NAME "locationName"
		FROM "LOCATION"
	</select>
	
	
</mapper>
