<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.jmt.admin.mapper.AdminNoticeMapper">

	<!-- 삭제되지 않은 공지사항 게시글 수 조회 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM "NOTICE"
		WHERE NOTICE_DEL_FL = 'N'
	</select>

	<!-- 공지 사항 목록 확인 -->
	<select id="selectNoticeList">
		SELECT
			NOTICE_NO,
			NOTICE_TITLE,
			NOTICE_CATEGORY,
			NOTICE_WRITE_DATE
		FROM NOTICE
		WHERE NOTICE_NO > 0
		AND   NOTICE_DEL_FL = 'N'
		ORDER BY NOTICE_NO DESC
	</select>
	
	
	<!-- 검색 조건에 맞는 전체 공지 수 조회 -->
	<select id="searchNoticeCount">
		SELECT 
			COUNT(*)
		FROM "NOTICE"
		JOIN
		WHERE
		<choose>
			<!-- 공지 종류 검색인 경우 -->
			<when test='key == "c"'>
				NOTICE_CATEGORY LIKE '%' || #{query} || '%'
			</when>
			<!-- 공지 제목 검색인 경우 -->
			<when test='key == "t"'>
				NOTICE_TITLE LIKE '%' || #{query} || '%'
			</when>
			<!-- 공지 번호 검색인 경우 -->
			<when test='key == "n"'>
				NOTICE_NO LIKE '%' || #{query} || '%'
			</when>
		</choose>
	</select>
	
	<!-- 검색 조건에 맞는 전체 공지 목록 조회 -->
	<select id="searchNoticeList">
		SELECT 
			NOTICE_NO,
			NOTICE_TITLE,
			NOTICE_CATEGORY,
			NOTICE_WRITE_DATE
		FROM "NOTICE"
		JOIN
		WHERE
		<choose>
			<!-- 공지 종류 검색인 경우 -->
			<when test='key == "c"'>
				NOTICE_CATEGORY LIKE '%' || #{query} || '%'
			</when>
			<!-- 공지 제목 검색인 경우 -->
			<when test='key == "t"'>
				NOTICE_TITLE LIKE '%' || #{query} || '%'
			</when>
			<!-- 공지 번호 검색인 경우 -->
			<when test='key == "n"'>
				NOTICE_NO LIKE '%' || #{query} || '%'
			</when>
		</choose>
		ORDER BY NOTICE_NO DESC
		
	</select>
	

	<!-- 삭제 처리 -->
	<update id="deleteNotice">
		UPDATE NOTICE
		SET
			NOTICE_DEL_FL = 'Y'
		WHERE 
			NOTICE_NO = #{noticeNo}
	</update>
	
	<!-- 공지 등록 -->
	<insert id="insertNotice">
		INSERT INTO "NOTICE"
		VALUES (
			SEQ_NOTICE_NO.NEXTVAL,
			#{noticeTitle},
			#{noticeContent},
			DEFAULT,
			'N',
			0,
			#{noticeCategory}
		)

	</insert>
	
	<!-- 공지 수정 페이지 이동 -->
	<select id="updateNoticeView">
		SELECT
			NOTICE_NO,
			NOTICE_TITLE,
			NOTICE_CATEGORY,
			TO_CHAR(NOTICE_WRITE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS NOTICE_WRITE_DATE,
			NOTICE_CONTENT		
		FROM NOTICE
		WHERE NOTICE_NO > 0
		AND   NOTICE_NO = #{noticeNo}
	</select>
	
	<update id="updateNotice">
		UPDATE "NOTICE"
		SET
			NOTICE_TITLE = #{noticeTitle},
			NOTICE_CATEGORY = #{noticeCategory},
			NOTICE_CONTENT = #{noticeContent}
		WHERE 
			NOTICE_NO = #{noticeNo}
	</update>
	
  	
</mapper>
