<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.jmt.admin.mapper.AdminMapper">

	<select id="selectCategoryList"
			resultType="map">
		SELECT 
			CATEGORY_NO "categoryNo" ,
			CATEGORY_NAME "categoryName"
		FROM "CATEGORY"
	</select>
	
	
	<select id="selectLocationList"
			resultType="map">
		SELECT 
			LOCATION_NO "locationNo" ,
			LOCATION_NAME "locationName"
		FROM "LOCATION"
	</select>
	
	
	
	<!-- 식당 정보 등록 -->
	<insert id="restaurantInsert">
		<selectKey order="BEFORE"
				   resultType="_int"
				   keyProperty="restaurantNo">
			SELECT SEQ_RESTAURANT_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO "RESTAURANT"
		VALUES(
			#{restaurantNo},
			#{restaurantName},
			#{restaurantAddress},
			#{restaurantTel},
			#{restaurantImg1},
			#{restaurantImg2},
			DEFAULT,
			#{locationNo},
			#{categoryNo}
		)

	</insert>
	
	
	<!-- 메뉴 정보 입력 -->
	<insert id="menuListInsert">
  		INSERT INTO "MENU"
  		
  		<foreach collection="list" item="menu"
  				 open="(" close=")" separator=" UNION ALL ">
 
  			SELECT 
  				NEXT_MENU_NO(),
				#{menu.menuName}, 
				#{menu.menuPrice},
				#{menu.restaurantNo}
			FROM DUAL
  		</foreach>
  	</insert>
  	
  	
  	
  	<select id="selectMemberList"
  			resultType="Member">
  		SELECT 
		  	MEMBER_NO, 
		  	MEMBER_NAME,
		  	MEMBER_EMAIL,
		  	MEMBER_DEL_FL,
		  	MEMBER_AUTH 
		FROM "MEMBER"
		WHERE MEMBER_NO > 0
		ORDER BY MEMBER_NO ASC
  	</select>
  	
  	
  	
  	<select id="selectMemberStatus"
  			resultType="map">
  	SELECT
		(SELECT COUNT(*)
		 FROM "MEMBER"
		 WHERE MEMBER_DEL_FL = 'N'
		 AND   MEMBER_AUTH IN (0, 2)) AS "activeMember",
		(SELECT COUNT(*)
		 FROM "MEMBER") AS "totalMember",	
		(SELECT COUNT(*)
		 FROM "MEMBER"
		 WHERE MEMBER_AUTH = 1) AS "blockMember",
		(SELECT COUNT(*)
		 FROM "MEMBER"
		 WHERE MEMBER_DEL_FL = 'N') AS "secssionMember"
	FROM
	DUAL
  	</select>
  	
</mapper>
