<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.jmt.admin.mapper.AdminRestaurantMapper">

	<select id="selectCategoryList"
			resultType="map">
		SELECT 
			CATEGORY_NO "categoryNo" ,
			CATEGORY_NAME "categoryName"
		FROM "CATEGORY"
	</select>
	
	
	<select id="selectLocationList"
			resultType="map">
		SELECT 
			LOCATION_NO "locationNo" ,
			LOCATION_NAME "locationName"
		FROM "LOCATION"
	</select>
	
	
	
	<!-- 폐업하지 않은 가게 수만 조회 -->
	<select id="getRestaurantListCount">
		SELECT 
			COUNT(*)
		FROM "RESTAURANT"
		WHERE RESTAURANT_DEL_FL = 'N'
	</select>
	
	
	<!-- 가게 리스트 조회 -->
	<select id="selectRestaurantList"
			resultType="Restaurant">
		SELECT 
			RESTAURANT_NO,
			RESTAURANT_NAME,
			CATEGORY_NAME,
			LOCATION_NAME,
			RESTAURANT_TEL
			
		FROM "RESTAURANT"
		JOIN "LOCATION" USING (LOCATION_NO)
		JOIN "CATEGORY" USING (CATEGORY_NO)
		WHERE 
			RESTAURANT_DEL_FL = 'N'		
		ORDER BY RESTAURANT_NO DESC
			
	</select>
	
	<!-- 검색 조건에 맞는 전체 가게 수 조회 -->
	<select id="getSearchCount">
		SELECT 
			COUNT(*)
		FROM "RESTAURANT"
		
		<if test='key == "l"'>
			JOIN "LOCATION" USING (LOCATION_NO)
		</if>
		
		WHERE RESTAURANT_DEL_FL = 'N'
		
		<choose>
			<!-- 가게명 검색인 경우 -->
			<when test='key == "rn"'>
				AND RESTAURANT_NAME LIKE '%' || #{query} || '%'
			</when>
			<!-- 가게 번호 검색인 경우 -->
			<when test='key == "n"'>
				AND RESTAURANT_NO LIKE '%' || #{query} || '%'
			</when>
			<!-- 지역 검색인 경우 -->
			<when test='key == "l"'>
				AND LOCATION_NAME LIKE '%' || #{query} || '%'
			</when>
		</choose>
	</select>
	
	<!-- 검색 조건에 맞는 전체 가게 목록 조회 -->
	<select id="restaurantSearchList">
		SELECT 
			RESTAURANT_NO,
			RESTAURANT_NAME,
			CATEGORY_NAME,
			LOCATION_NAME,
			RESTAURANT_TEL
		FROM "RESTAURANT"
		JOIN "LOCATION" USING (LOCATION_NO)
		JOIN "CATEGORY" USING (CATEGORY_NO)

		WHERE RESTAURANT_DEL_FL = 'N'
		
		<choose>
			<!-- 가게명 검색인 경우 -->
			<when test='key == "rn"'>
				AND RESTAURANT_NAME LIKE '%' || #{query} || '%'
			</when>
			<!-- 가게 번호 검색인 경우 -->
			<when test='key == "n"'>
				AND RESTAURANT_NO LIKE '%' || #{query} || '%'
			</when>
			<!-- 지역 검색인 경우 -->
			<when test='key == "l"'>
				AND LOCATION_NAME LIKE '%' || #{query} || '%'
			</when>
		</choose>
		
		ORDER BY RESTAURANT_NO DESC
	</select>	
	
	<!-- 식당 정보 등록 -->
	<insert id="restaurantInsert">
		<selectKey order="BEFORE"
				   resultType="_int"
				   keyProperty="restaurantNo">
			SELECT SEQ_RESTAURANT_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO "RESTAURANT"
		VALUES(
			#{restaurantNo},
			#{restaurantName},
			#{restaurantAddress},
			#{restaurantTel},
			#{restaurantImg1},
			#{restaurantImg2},
			DEFAULT,
			#{locationNo},
			#{categoryNo}
		)

	</insert>
	
	
	<!-- 메뉴 정보 입력 -->
	<insert id="menuListInsert">
  		INSERT INTO "MENU"
  		
  		<foreach collection="list" item="menu"
  				 open="(" close=")" separator=" UNION ALL ">
 
  			SELECT 
  				NEXT_MENU_NO(),
				#{menu.menuName}, 
				#{menu.menuPrice},
				#{menu.restaurantNo}
			FROM DUAL
  		</foreach>
  	</insert>
  	
  	
  	<!-- 가게 상세 정보 조회 -->
  	<select id="selectRestaurant"
  			resultType="Restaurant">
  		SELECT 
  			RESTAURANT_NO, 
			RESTAURANT_NAME,
			LOCATION_NAME,
			CATEGORY_NAME,
			RESTAURANT_IMG1,
			RESTAURANT_IMG2,
			RESTAURANT_ADDRESS,
			RESTAURANT_TEL
  			
  		FROM "RESTAURANT"
		JOIN "LOCATION" USING (LOCATION_NO)
		JOIN "CATEGORY" USING (CATEGORY_NO)
  		WHERE 
  			RESTAURANT_NO = #{restaurantNo}
  		AND 
  			RESTAURANT_DEL_FL = 'N'
  	</select>
  	
  	
  	<!-- 조회하려는 가게 메뉴 정보 가져오기 -->
  	<select id="selectMenuList"
  			resultType="menu">
  		SELECT 
  			MENU_NAME,
  			TO_CHAR(MENU_PRICE, '999,999,999') || ' 원' AS "MENU_PRICE"
  			
  		FROM
  			"MENU"
  		WHERE 
  			RESTAURANT_NO = #{restaurantNo}
  	</select>
  	
  	
  	<!-- 가게 삭제 -->
  	<update id="restaurantDelete">
  		UPDATE "RESTAURANT"
  		SET 
  			RESTAURANT_DEL_FL = 'Y'
  		WHERE 
  			RESTAURANT_NO = #{restaurantNo}
  	</update>
  	
  	
  	<select id="restaurantUpdateView">
  	  	SELECT 
  			RESTAURANT_NO, 
			RESTAURANT_NAME,
			LOCATION_NO,
			CATEGORY_NO,
			RESTAURANT_IMG1,
			RESTAURANT_IMG2,
			RESTAURANT_ADDRESS,
			RESTAURANT_TEL
  			
  		FROM "RESTAURANT"
  		WHERE 
  			RESTAURANT_NO = #{restaurantNo}
  		AND 
  			RESTAURANT_DEL_FL = 'N'
  	
  	</select>
  	
  	
  	<select id="menuUpdateView"
  	 		resultType="menu">
  		SELECT 
  			MENU_NAME,
  			MENU_PRICE
  		FROM
  			"MENU"
  		WHERE 
  			RESTAURANT_NO = #{restaurantNo}
  	
  	</select>
  	
  	
  	
  	<!-- 가게 정보 수정 -->
  	<update id="restaurantUpdate">
  		UPDATE "RESTAURANT"
		SET
			RESTAURANT_NAME = #{restaurantName},
			RESTAURANT_ADDRESS = #{restaurantAddress},
			RESTAURANT_TEL = #{restaurantTel},
			
			<if test="restaurantImg1 != null and !restaurantImg1.equals('')">
    			RESTAURANT_IMG1	= #{restaurantImg1},
			</if>
			
			<if test="restaurantImg2 != null and !restaurantImg2.equals('')">
    			RESTAURANT_IMG2	= #{restaurantImg2},
			</if>
			
			LOCATION_NO	= #{locationNo},
			CATEGORY_NO	= #{categoryNo}
			
		WHERE 
			RESTAURANT_NO = #{restaurantNo}
  	</update>
  	
  	<!-- 기존 메뉴 삭제 -->
  	<delete id="menuListDelete">
  		DELETE "MENU"
  		WHERE 
  			RESTAURANT_NO = #{restaurantNo}
  	</delete>
  	
  	
</mapper>
