<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.jmt.board.mapper.BoardMapper">


	<insert id="boardWrite" 
			parameterType="Board" 
			useGeneratedKeys="true">
	
		<selectKey order="BEFORE"
				   resultType="_int"
				   keyProperty="boardNo">
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
	
	
		INSERT INTO "BOARD"
		VALUES(
			#{boardNo},
			#{boardTitle},
			#{boardContent},
			DEFAULT, 
			#{boardImg}, 
			DEFAULT, 
			#{memberNo}
		)
	</insert>
	
	<!-- 화면출력 -->
	<select id="boardMain" resultType="Board">
		SELECT
			*
		FROM
			"BOARD"
		WHERE BOARD_DEL_FL = 'N'
		ORDER BY BOARD_NO DESC
	</select>

	<!-- 게시글 삭제 -->
	<insert id="boardDelete">
		UPDATE "BOARD"
		SET
			BOARD_DEL_FL = DECODE(BOARD_DEL_FL, 'Y', 'N', 'Y')
		WHERE
			"BOARD_NO" = #{boardNo}
	</insert>

	<!-- 게시글 수정 -->
	<select id="updateView" resultType="Board">
		SELECT
			*
		FROM
			"BOARD"
		WHERE BOARD_NO = #{boardNo}
	
	</select>

  	<!-- 게시글부분만 수정(제목/내용) -->
  	<update id="boardUpdate" >
  		UPDATE
  			"BOARD"
		SET
			BOARD_TITLE = #{boardTitle},
			<if test="boardImg != null and !boardImg.equals('')">
            	BOARD_IMG = #{boardImg},
         	</if>
			BOARD_CONTENT = #{boardContent}
  		WHERE
  			BOARD_NO = #{boardNo}
  	</update>


	


</mapper>
