<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.jmt.board.mapper.BoardMapper">


	<insert id="boardWrite" 
			parameterType="Board" 
			useGeneratedKeys="true">
	
		<selectKey order="BEFORE"
				   resultType="_int"
				   keyProperty="boardNo">
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
	
	
		INSERT INTO "BOARD"
		VALUES(
			#{boardNo},
			#{boardTitle},
			#{boardContent},
			DEFAULT, 
			#{boardImg}, 
			DEFAULT, 
			#{memberNo}
		)
	</insert>
	
	<!-- 전체 게시글 개수 조회 -->
	<select id="getBoardListCount">
		SELECT COUNT(*)
		FROM "BOARD"
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
	</select>
	
	<!-- 전체 게시글  조회 -->
	<select id="selectBoardList"
			resultType="Board">
		SELECT 
			BOARD_NO,
			BOARD_TITLE,
			BOARD_CONTENT,
				<![CDATA[
		  			CASE 
						WHEN CURRENT_DATE - BOARD_DATE < 1 / 24 / 60
						THEN FLOOR((CURRENT_DATE - BOARD_DATE) * 24 * 60 * 60) || '초 전'
						
						WHEN CURRENT_DATE - BOARD_DATE <  1 / 24 
						THEN FLOOR((CURRENT_DATE - BOARD_DATE) * 24 * 60) || '분 전'
						
						WHEN CURRENT_DATE - BOARD_DATE <  1 
						THEN FLOOR((CURRENT_DATE - BOARD_DATE) * 24) || '시간 전'
					
						ELSE TO_CHAR(BOARD_DATE, 'YYYY-MM-DD')
					END AS BOARD_DATE
					]]>
			,
			BOARD_IMG,
			MEMBER_NO,
			MEMBER_NAME
		FROM "BOARD"
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
		ORDER BY BOARD_NO DESC
	</select>
	
	
	<!-- 검색 게시글 개수 조회 -->
	<select id="searchBoardCount">
		SELECT COUNT(*)
		FROM "BOARD"
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
		<choose>
			<!-- 작성자 이름 검색인 경우 -->
			<when test='key == "m"'>
				AND MEMBER_NAME LIKE '%' || #{query} || '%'
			</when>
			<!-- 공지 제목 검색인 경우 -->
			<when test='key == "t"'>
				AND BOARD_TITLE LIKE '%' || #{query} || '%'
			</when>
			<!-- 본문 내용 검색인 경우 -->
			<when test='key == "c"'>
				AND BOARD_CONTENT LIKE '%' || #{query} || '%'
			</when>
		</choose>
	</select>
	
	<!-- 검색 게시글  조회 -->
	<select id="searchBoardList"
			resultType="Board">
		SELECT 
			BOARD_NO,
			BOARD_TITLE,
			BOARD_CONTENT,
				<![CDATA[
		  			CASE 
						WHEN CURRENT_DATE - BOARD_DATE < 1 / 24 / 60
						THEN FLOOR((CURRENT_DATE - BOARD_DATE) * 24 * 60 * 60) || '초 전'
						
						WHEN CURRENT_DATE - BOARD_DATE <  1 / 24 
						THEN FLOOR((CURRENT_DATE - BOARD_DATE) * 24 * 60) || '분 전'
						
						WHEN CURRENT_DATE - BOARD_DATE <  1 
						THEN FLOOR((CURRENT_DATE - BOARD_DATE) * 24) || '시간 전'
					
						ELSE TO_CHAR(BOARD_DATE, 'YYYY-MM-DD')
					END AS BOARD_DATE
					]]>
			,
			BOARD_IMG,
			MEMBER_NO,
			MEMBER_NAME
		FROM "BOARD"
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
		<choose>
			<!-- 작성자 이름 검색인 경우 -->
			<when test='key == "m"'>
				AND MEMBER_NAME LIKE '%' || #{query} || '%'
			</when>
			<!-- 공지 제목 검색인 경우 -->
			<when test='key == "t"'>
				AND BOARD_TITLE LIKE '%' || #{query} || '%'
			</when>
			<!-- 본문 내용 검색인 경우 -->
			<when test='key == "c"'>
				AND BOARD_CONTENT LIKE '%' || #{query} || '%'
			</when>
		</choose>
		ORDER BY BOARD_NO DESC
	</select>
	

	<!-- 게시글 삭제 -->
	<insert id="boardDelete">
		UPDATE "BOARD"
		SET
			BOARD_DEL_FL = DECODE(BOARD_DEL_FL, 'Y', 'N', 'Y')
		WHERE
			"BOARD_NO" = #{boardNo}
	</insert>

	<!-- 게시글 수정 -->
	<select id="updateView" resultType="Board">
		SELECT
			*
		FROM
			"BOARD"
		WHERE BOARD_NO = #{boardNo}
	
	</select>

  	<!-- 게시글부분만 수정(제목/내용) -->
  	<update id="boardUpdate" >
  		UPDATE
  			"BOARD"
		SET
			BOARD_TITLE = #{boardTitle},
			<if test="boardImg != null and !boardImg.equals('')">
            	BOARD_IMG = #{boardImg},
         	</if>
			BOARD_CONTENT = #{boardContent}
  		WHERE
  			BOARD_NO = #{boardNo}
  	</update>


	


</mapper>
