<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.jmt.main.mapper.MainMapper">


	<select id="searchPage">
	SELECT 
		MENU_NAME 
	FROM
		RESTAURANT A
	JOIN 
		MENU B ON (A.RESTAURANT_NO = B.RESTAURANT_NO)
	WHERE 
		MENU_NAME LIKE '%' || #{searchBar} || '%'
	
	</select>


	
</mapper>
