<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.jmt.main.mapper.MainMapper">


<!-- 좋아요 많은순  -->
	<select id="listLike">
SELECT
	RESTAURANT_NAME,
	RESTAURANT_IMG1,
	RESTAURANT_NO
FROM 
	RESTAURANT
JOIN 	
	(SELECT
		RESTAURANT_NO,
	 	COUNT(LIKE_FL) AS "COUNT_NO"
	FROM
	 REVIEW 
	WHERE
		LIKE_FL = 'N'
	GROUP BY 
		RESTAURANT_NO
	ORDER BY 
		COUNT_NO DESC) USING (RESTAURANT_NO)
	</select>
	
<!-- 최신순 순서 -->
<select id="listCurrent">
SELECT 
	RESTAURANT_NAME,
	RESTAURANT_IMG1,
	RESTAURANT_NO
FROM  
	RESTAURANT
ORDER BY 
	RESTAURANT_NO DESC
</select>
<!-- 리뷰많은순 -->
<select id="listReview">
SELECT 
	RESTAURANT_NAME,
	RESTAURANT_IMG1,
	RESTAURANT_NO,
	LIKE_FL
FROM 
	RESTAURANT JOIN
   (SELECT 
   	RESTAURANT_NO,
   	COUNT(LIKE_FL) AS "LIKE_FL"
    FROM 
    	REVIEW
    WHERE 
    	REVIEW_DEL_FL = 'N'
   GROUP BY 
  		RESTAURANT_NO
  	ORDER BY 
  	 	LIKE_FL DESC) USING (RESTAURANT_NO)
</select>




	
</mapper>
