<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>BoardMain</title>
		<link rel="stylesheet" href="/css/board/boardMain.css">
		<link rel="stylesheet" href="/css/common/header.css">
	</head>
	<th:block th:replace="~{common/header}"></th:block>

	<body>
	 	
				
		
		<br><br>
		<!-- 검색바 -->
		<form class="search-container">
			<div>
					<input type="text" placeholder="　검색">
					<i class="fa-solid fa-magnifying-glass"></i>
			</div>
		</form>

		<!-- 게시글 리스트 -->
		<div class="post-container">
				<div class="post" th:each="board : ${boardList}">
						<div class="post-header">
								<div class="profile-pic"></div>
								<div class="post-title" th:text="${board.boardTitle}">제목</div>
								<div class="post-time">이름 | 21분 전</div>
								<!-- 버튼 영역 -->
								 <!-- <input type="hidden" class="getBoardNo" th:value="${board.boardNo}"> -->
								<div class="board-btn-area" th:data-board-no="${board.boardNo}">
									<!-- <th:block th:if="${session.loginMember?.memberNo} == ${board.memberNo}"> -->
										<button class="updateBtn">수정</button>
										<button class="deleteBtn">삭제</button>
									<!-- </th:block> -->
								</div>
						</div>
						<br>
						<hr>
						<div class="post-content">
							<div th:if="${board.boardImg}">
								<input type="hidden" class="boardNoList" th:value="${board.boardNo}">
									<img th:src="${board.boardImg}" alt="게시글이미지"
									class="imageSize">
								</div>
								<div class="contentCss">
									<th:block  th:text="${board.boardContent}" class="contentCss">본문 내용</th:block>
								</div>
						</div>
						
						<div class="post-footer">
								<span class="comment-toggle">
										<div class="triangle"></div> <p class="c">댓글 보기</p>
										<!-- <div hidden class="triangle-b"></div> <p class="c">댓글 닫기</p> -->
							</span>
						</div>
						<div class="commentArea">


						</div>
					</div>
				</div>
				<!-- 글쓰기 버튼 -->
				<div>
					<button id="pageChange" class="writeBtn">글쓰기</button>
				</div>


	<!-- 상단으로 이동 버튼 -->
	<button class="fa-solid fa-arrow-up" id="topBtn"></button>

	<script src="/js/board/boardMain.js"></script>
	<script src="/js/board/boardComment.js"></script>
	<script src="https://kit.fontawesome.com/ac3b627b7e.js" crossorigin="anonymous"></script>
	<script th:inline="javascript">
		const message =  /*[[${message}]]*/ "전달 받은 message";
	
		if(message != null) alert(message);
	</script>

	</body>

</html>
 		