<th:block th:each= "comment:${commentList}">
  <hr><br>
  <div class="comment-post-header">
    <img class="profile-pic" th:src="${comment.profileImg}"></img>
    <div class="comment-id" th:text="${comment.memberName}">사용자</div>
    <div class="comment-context" th:text="${comment.commentContent}">댓글내용</div>
    <div class="comment-post-update">댓글 | 수정 | 삭제</div>
  </div>
  <br>
</th:block>


<!-- 댓글 작성 부분 -->
  <div class="textarea-main">
    <textarea name="commentBtn" id="co" class="comment-write" placeholder="댓글 입력">
    </textarea>
    <!-- <div style="color: gray;" class="commnetBtn">댓글<br>작성</div> -->
     <button class="commentBtn">작성</button>
     <button class="commentBtn">사진</button>
  </div>