<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ</title>
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/notice/faq.css">
</head>

<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main class="main">
    <section id="back">
      <!-- 감싸는 배경 -->

      <section id="fix-area">
        <div id="faq-container">
          <span><h3>자주 하는 질문 BEST 5</h3></span>
          <hr>
          <br>
          <!-- 내용 정렬 -->
          <th:block th:each="faq, iterStat : ${faqList}">
           <div>
              <span><div class="btn">
                <div class="q">Q</div>
                <div class="faqTitle" th:text="${faq.faqTitle}">사이트 이용 어떻게 해요?</div>
                <div><span class="open-close">▼</span></div>
              </div></span>
              <div class="panel"  th:text="${faq.faqContent}">
               <p> A1. 그렇게 되었다.</p> </div>
           </div>
           <br>
          </th:block>

        </section>
      </section>
          
    </section>
        
        <!-- Floating Buttons -->
        <!-- <div id="topBtn">
          <a class="scroll-top" href="#">⬆</a>
        </div> -->
  </main>
  <!-- <script src="/js/faq/faq.js"></script> -->

  <!-- JQuery 사용 구문 -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script>
    /* 슬라이드 토글 */
    $("span[name='toggle-control']").click(function () {
      $('#target').toggle();
      $("span[name='toggle-control']").toggle();
    });

    $(document).ready(function () {
      $(".btn").click(function () {
        $(".panel").slideUp(100);
        $(this).parent().next().slideDown(100);
      });
    });

  </script>
</body>

</html>