<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항</title>
  <link rel="stylesheet" href="/css/notice/notice.css">
  <link rel="stylesheet" href="/css/common/header.css">
</head>

<body>
  <th:block th:replace="~{common/header}"></th:block>
  <main class="main">
    <section id="back">
      <!-- 감싸는 배경 -->

      <section id="fix-area">
      
        <section id="notice-container">
          <span><h3>공지사항</h3></span>
          <hr>
          <br>
          <!-- 내용 정렬 -->
          <th:block th:each="notice, stat : ${noticeList}">
            <div>
              <a class="btn" th:href="@{/notice/noticeView/{noticeNo} (noticeNo=${notice.noticeNo})}">
                <div class="category" th:text="${notice.noticeCategory}">[공지]</div>
                <div th:text="${notice.noticeTitle}">공지사항 게시글 예시</div>
                <div>
                  <span th:if="${stat.index == 0 && newMark != null}" class="new">new</span>
                </div>
              </a>
            </div>
            <br>
          </th:block>
        </section>
      </section>

      <!-- 게시글이 있을 때만 페이지네이션이 보이게 할 예정 -->
      <div class="pagination-area" th:unless="${#lists.isEmpty(noticeList)}">

        <ul class="pagination" th:object="${pagination}">
        
            <!-- 첫 페이지로 이동 -->
            <li><a href="#">&lt;&lt;</a></li>

            <!-- 이전 목록 마지막 번호로 이동 -->
            <li><a href="#">&lt;</a></li>

            <!-- 특정 페이지로 이동 -->
            
            <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                <!-- 현재 보고있는 페이지 -->
                <li th:if="${i} == *{currentPage}">
                    <a class="current" th:text="${i}">현재 페이지</a>
                </li>

                <!-- 보고있지 않은 페이지 -->                    
                <li th:unless="${i} == *{currentPage}"> <a href="#" th:text="${i}">이동할 수 있는 페이지</a> </li>
            </th:block>

            <!-- 다음 목록 시작 번호로 이동 -->
            <li><a href="#">&gt;</a></li>

            <!-- 끝 페이지로 이동 -->
            <li><a href="#">&gt;&gt;</a></li>
        </ul>
    </div>
          
    </section>
      
  </main>

<!-- Floating Buttons -->
 

<script src="https://kit.fontawesome.com/ac3b627b7e.js" crossorigin="anonymous"></script>
<script th:inline="javascript">
    const pagination = /*[[${pagination}]]*/ "페이지네이션객체";
</script>
<script src="/js/notice/notice.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</body>

</html>