#arrow{
  position:relative;
  top:10px;
  width: 10px;
  height: 10px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  transform:rotate(45deg);
  }
  #faq-content{
  position: relative;
  left: 20px;
  bottom: 10px;
  }