* {
  box-sizing: border-box;
}

p {font-family: 'NEXON Lv1 Gothic OTF';}
b {font-family: 'NEXON Lv1 Gothic OTF';}

html,
body {
  background-color: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  margin: 0;
}

.viewContainer {
  display: flex;
}


.sideBar {
  width: 400px;
  height: 100vh;
  background-color: white(165, 201, 198);
  position: sticky;
  top: 0;

}

/* .sideInput{
  height: 100px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sideInput > input{
  width: 70%;
  height: 40%;
  border-radius: 10px;
  border: 0;
}

.sideCategory{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sideCategory > a{
  text-decoration: none;
  color: black;
} */

.main {
  width: 900px;
  height: max-content;
  margin: 20px;
  margin-left: 40px;

}

.mainDetail {
  width: 100%;
  height: max-content;
  box-shadow: 0px 0px 10px 0px rgb(230, 230, 230);
  border-radius: 20px;
  background-color: white;
  margin-bottom: 30px;

  text-align: start;
}



.mainDetailPhoto {
  width: 90%;
  height: 50%;

  padding-top: 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
}

.photo1 {
  width: 50%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.photo2 {
  width: 50%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mainDetailContent {
  width: 100%;
  height: max-content;

  margin-top: 20px;
  padding: 30px;
}

.mainDetailContent>ul>li {
  margin-bottom: 20px;
  font-size: 20px;
}

.menuContainer {
  width: 100%;
  height: max-content;
  box-shadow: 0px 0px 10px 0px rgb(230, 230, 230);
  border-radius: 20px;
  background-color: white;
  margin-top: 50px;
  padding: 20px;

}

.menuList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px dotted gray;
}





.mainReview {
  width: 100%;
  height: max-content;
  box-shadow: 0px 0px 10px 0px rgb(230, 230, 230);
  border-radius: 50px;
  padding: 20px;

  margin-top: 20px;
  background-color: white;

}

.reviewT {
  width: 100%;
  height: max-content;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.reviewT>b {
  font-size: 30px;
}

.reviewProfile {
  width: 100%;
  height: 100px;

  display: flex;
}

.reviewProfileImg {
  width: 70px;
  height: 70%;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 100%;
  border: 1px solid gray;



}


.mainReviewContent {
  padding: 20px;
}

.revewProfileName {
  margin-top: 30px;
  width: 90%;
  height: 100%;



  margin-left: 20px;

}

.reviewView {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(199, 199, 199);
  border-radius: 20px;
  margin-bottom: 30px;
}


.addBtnDiv {
  width: 100%;
  height: 50px;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s;
}


.addBtnDiv:hover {
  width: 100%;
  height: 50px;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
  background-color: rgb(206, 206, 206);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s;
}



.map1 {
  width: 300px;
  height: 400px;
  margin-top: 50px;
  margin-left: 20px;
  position: sticky;
  /* 화면 밖으로 벗어났을 때 지정된 위치 붙음 */
  top: 20px;
  /* 붙을 위치(고정될 위치) 지정 */
  z-index: 1000;


}

.map {
  width: 100%;
  height: 300px;

  box-shadow: 0px 0px 10px 0px rgb(230, 230, 230);
  border-radius: 20px;
}

.reviewBtn {
  width: 100%;
  height: 50px;

  margin-top: 40px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: white;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;

  transition: all 0.2s;

}

.reviewBtn:hover {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: rgb(66, 170, 161);
  border: 1px solid rgb(192, 192, 192);

  transition: all 0.2s;
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
}

.reviewBtn1 {
  width: 20%;
  height: 50px;

  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: white;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;

  transition: all 0.2s;
}

.reviewBtn1:hover {
  width: 20%;
  height: 50px;
  font-size: 20px;

  border-radius: 10px;
  color: white;
  background-color: rgb(66, 170, 161);
  border: 1px solid rgb(192, 192, 192);

  transition: all 0.2s;
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
}





.map2 {
  width: 100%;
  height: 300px;

}

.popup {
  position: absolute;
  width: 100px;
  height: 80px;
  background-color: white;
  padding: 12px;
  border: 1px solid gray;
}

.ud {

  width: 100px;
  height: 100px;
  margin: 10px;
}

.ud > button{
  width: 100%;
  height: 40%;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 20px;
}

.ud > button:hover{
  width: 100%;
  height: 40%;
  border-radius: 10px;  

  color: white;
  background-color: rgb(66, 170, 161);
  border: 1px solid rgb(192, 192, 192);

  transition: all 0.2s;

}