<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/restaurant/restaurantDetail.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>식당 정보</title>
</head>

<body>
    <div th:replace="~{common/header}"></div>
    <div class="viewContainer">
        <div class="sideBar">
            <!-- <div class="sideInput">
                <input type="text" placeholder="검색">
            </div>
            <hr>
            <div>카테고리</div>
            <hr>
            <div>지역 선택</div>
            <hr>
            <div class="sideCategory">
                <a href="#">최신순</a>
                <a href="#">호불호순</a>
                <a href="#">리뷰 많은 순</a>
                <a href="#">찜 많은 순</a>
            </div>
            <hr> -->
        </div>
        <div class="main" th:object="${restaurant}">
            <input type="hidden" class="getRestaurantNo" th:value="*{restaurantNo}">
            <input type="hidden" class="getRestaurantAddress" th:value="*{restaurantAddress}">
            <input type="hidden" class="getRestaurantName" th:value="*{restaurantName}">
            <th:block th:if="${session.loginMember}">
                <input type="hidden" class="getLoginMemberNo"
                    th:value="${session.loginMember.memberNo}">
                <input type="hidden" class="memberAuth" th:value="${session.loginMember.memberAuth}">
                </th:block>
                

            <div class="mainDetail">
                <div class="mainDetailPhoto">
                    <img class="photo1" th:src="*{restaurantImg2}"></img>
                    <img class="photo2" th:src="*{restaurantImg1}"></img>
                </div>
                <div class="mainDetailContent">
                    <b th:text="*{restaurantName}" style="font-size: 40px;"></b>
                    <div style="display: flex; margin-top: 10px;">
                        <p th:text="*{categoryName}" style="font-size: 30px; margin-right: 20px; color: gray;"></p>
                        <p th:text="*{locationName}" style="font-size: 30px; color: gray;"></p>
                    </div>
                    <hr style="margin-top: 20px; margin-bottom: 20px;">
                    <ul style="list-style: none;">
                        <li><i class="fa-solid fa-phone-volume"></i>
                            <p th:text="*{restaurantTel}"></p>
                        </li>
                        <li><i class="fa-solid fa-house"></i>
                            <p th:text="*{restaurantAddress}"></p>
                        </li>
                        <li></li>
                    </ul>
                    <div class="map2" id="map2"></div>
                </div>


            </div>
            <div class="menuContainer">
                <h1 style="margin-bottom: 20px;">메뉴정보</h1>
                <ul th:each=" menu : *{menuList}">
                    <li class="menuList">
                        <b th:text="${menu.menuName}"></b>
                        <b th:text="|${menu.menuPrice}원|"></b>
                    </li>
                </ul>

            </div>
            <div class="mainReview">
                <div class="reviewT">
                    <div style="width: 70%; height: max-content;">
                        <b th:text="*{restaurantName}"></b>
                        <p style="font-size: 30px;">방문자 평가</p>
                    </div>
                    <div class="relative">
                        <button id="popupButton"
                            style="border: 1px solid gray; width: 50px; height: 30px; margin-top: 5px; border-radius: 5px;">
                            <i class="fa-solid fa-bars-staggered"></i>
                        </button>
                        <div id="popup" class="hidden popup">
                            <button class="new">최신순</button>
                            <hr style="margin: 5px;">
                            <button class="old">오래된순</button>
                        </div>
                    </div>
                    <button class="reviewBtn1">리뷰 등록하기</button>
                </div>
                <div>

                    <div class="reviewList">


                    </div>
                </div>

            </div>



            <button class="addBtnDiv">
                <b style="font-size: 20px;">평가 더보기</b>
            </button>










        </div>
        <div class="map1">
            <div class="map" id="map1"></div>
            <button class="reviewBtn">해당 가게 리뷰 등록하기</button>
        </div>
    </div>

    <script th:inline="javascript">
        const message =  /*[[${message}]]*/ "전달 받은 message";

        if (message != null) alert(message);
    </script>

    <script src="https://kit.fontawesome.com/b289d4a0af.js" crossorigin="anonymous"></script>
    <script type="text/javascript"
        th:src="|//dapi.kakao.com/v2/maps/sdk.js?appkey=${apiKey}&libraries=services|"></script>
    <script src="/js/restaurant/mapApi.js"></script>
    <script src="/js/restaurant/restaurantDetail.js"></script>
    <script src="/js/restaurant/review.js"></script>



</body>

</html>