<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/restaurant/restaurantDetail.css">
    <title>식당 정보</title>
</head>
<body>
    <div class="headers">
        <div class="headerLeft">
            <a href="#">메인페이지</a>
            <a href="#">점메추</a>
            <a href="#">공지사항</a>
            <a href="#">FAQ</a>
        </div>
        <div class="headerCenter"></div>
        <div class="headerRight"></div>
    </div>
    <div class="viewContainer">
        <div class="sideBar">
            <div class="sideInput">
                <input type="text" placeholder="검색">
            </div>
            <hr>
            <div>카테고리</div>
            <hr>
            <div>지역 선택</div>
            <hr>
            <div class="sideCategory">
                <a href="#">최신순</a>
                <a href="#">호불호순</a>
                <a href="#">리뷰 많은 순</a>
                <a href="#">찜 많은 순</a>
            </div>
            <hr>
        </div>
        <div class="main">

            <div class="mainDetail">

                <div class="mainDetailPhoto">
                    <div class="photo1" style="background-image: url(/images/샘플.jpg)" ></div>
                    <div class="photo2" style="background-image: url(/images/샘플3.jpg);"></div>
                </div>
                <div class="mainDetailContent">
                    <h1>가게이름</h1>
                    <h1>메뉴 목록</h1>
                    <h1>주소</h1>
                    <h1>기타 등등...</h1>
                </div>

            </div>

            <div class="mainReview">
                <div class="reviewProfile">
                    <div class="reviewProfileImg">프사</div>
                    <div class="revewProfileName">닉네임, 호불호, 기타 등등...</div>
                </div>
                <div class="mainReviewContent">
                    <h1>메인 리뷰</h1>
                    <pre>
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                        리뷰 내용
                    </pre>
                </div>
            </div>
            
            <button class="reviewBtn">리뷰 등록하기</button>
        </div>
        <div class="map" id="map"></div>
    </div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=62328a4e1d94f31c96879420aa63935a"></script>
    <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = { 
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };
    
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    
    // 마커가 표시될 위치입니다 
    var markerPosition  = new kakao.maps.LatLng(33.450701, 126.570667); 
    
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });
    
    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);
    
    // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
    // marker.setMap(null);    
    </script>


    <script>
        const reviewBtn = document.querySelector(".reviewBtn");
        reviewBtn.addEventListener("click", () => {
            location.href = "/restaurant/add"
        })

        
    </script>
   
</body>
</html>