  
    
    <th:block th:each= "r:${reviews}">

      <div class="reviewView">
        <div class="reviewProfile">
          <img class="reviewProfileImg" th:src="${r.profileImg}"></img>
          <div class="revewProfileName">
            <b th:text="${r.memberName}"></b>
            <p th:text="${r.reviewDate}"></p>
            <p th:if="${r.likeFl=='Y'}">이 가게를 추천해요</p>
            <p th:if="${r.likeFl=='N'}">이 가게를 추천하지 않아요</p>
          </div>
        </div>
        <div class="mainReviewContent" th:utext="${r.reviewContent}">
        </div>
      </div>

    </th:block>
