/* @font-face {
  font-family: 'LeeSeoyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{font-family: 'LeeSeoyun';} */


th {font-family: 'NEXON Lv1 Gothic OTF';}
.memberStatus-head {font-family: 'NEXON Lv1 Gothic OTF';}


html, body, main {
  height: 100%;
}

main{
  display: flex;

}

section{  
  /* border: 1px solid black;  */
  /* 임시 */

}

.left-section, .right-section{
  width: 50%;
}

.main-section {
  width: 2000px;
  display: flex;
  flex-direction: column;


}

h1 {
  margin: 10px;
}

/* 회원 현황판 */

.memberStatus{
  border-radius: 20px;

  width: 500px;
  height: 200px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.memberStatus-head {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  font-weight: bold;

  height: 20%;
  background-color: var(--main-color);

  text-align: center;
  line-height: 40px;
}

.container-1 {
  display: flex;
  height: 20%;
}

.container-1 > div {
  width: 50%;
  border: 1px solid var(--border-color);

  text-align: center;
  line-height: 40px;
}

.container-1:last-child > div:first-child {
  border: none;
  border-right: 1px solid var(--border-color);
}

.container-1:last-child > div:last-child {
  border: none;
  border-left: 1px solid var(--border-color);
}

.container-1:last-child {
  border: 1px solid var(--border-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


/* 검색 조건 인풋 비동기 */

.search-area{
  margin: 20px 50px;
}

.search-area label {
  width: 100px;
  height: 30px;

  border: 1px solid var(--border-color);
  border-radius: 20px;
  display: inline-block; /* 크기지정 */
  text-align: center;

  line-height: 28px;

  cursor: pointer; 
  user-select: none;
  
}

.search-area input {
  display: none;
}

.search-area input:checked+label{
  background-color: var(--main-color);
  color: white;
}

#searchQuery {
  display: inline;
}








/* 멤버 리스트 테이블*/

.memberListTable {
  border-collapse: collapse;

  width: 90%;
  margin: 0 auto;

}

.memberListTable >thead{
  background-color: var(--main-color);
}

.memberListTable tr {
  height: 30px;
}

.memberListTable td {
  text-align: center;
}

.memberListTable >thead th:first-child {
  width: 15%;
}
.memberListTable th:nth-child(2) {
  width: 15%;
}
.memberListTable th:nth-child(3) {
  width: 30%;
}
.memberListTable th:nth-child(4) {
  width: 15%;
}
.memberListTable th:nth-child(5) {
  width: 25%;
}


.memberListTable button {
  width: 70px;
  height: 30px;

  background-color: white;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 30px;

  transition-duration: 0.1s;
}


/* pagination-area css */

.pagination-area {
  margin: 50px 0;
}

.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.pagination li{
  width: 20px;
  margin: 0 5px;
  text-align: center;
}

.pagination span{
  display: block;
  width: 24px;
  height: 24px;

  line-height: 24px;

  user-select:none
}

.pagination span:hover {
  cursor: pointer;
}

.current {

  font-weight: bold;
  background-color: var(--main-color);
  border-radius: 50%;
  color: white !important;
  letter-spacing: 0 !important;
}


/* 전체 버튼 */


button:hover{
  cursor: pointer;
}

button:active{
  background-color: rgb(181, 181, 255);
}





#searchQuery {
  width: 240px;
  height: 30px;

  padding: 10px;

  border: 1px solid var(--border-color);
  


}

.search-box {
  display: flex;
  width: 400px;
  height: 30px;


  border-radius: 30px;

  box-shadow: 0px 1px 6px -2px var(--border-color);

}

.search-btn {
  width: 80px;
  height: 30px;

  padding-right: 10px;

  background-color: var(--main-color);
  color: white;

  border: 1px solid var(--border-color);

  border-left: none;

  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;


}

#searchKey {
  width: 80px;
  height: 30px;

  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

  border: 1px solid var(--border-color);
  border-right: none;



  padding-left: 10px;
}