/* @font-face {
  font-family: 'LeeSeoyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{font-family: 'LeeSeoyun';} */

h3 {font-family: 'NEXON Lv1 Gothic OTF';}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --main-color : rgba(97, 192, 191, 1);
  --border-color : rgb(182, 182, 182);
}


html, body, main {
  height: 100%;
}

main{
  display: flex;

}

section{  
  /* border: 1px solid black; */
 /* 임시 */
  height: 100%;

}


.left-section, .right-section{
  width: 50%;
}

.main-section {
  width: 2000px;
  display: flex;
  flex-direction: column;

}

h1 {
  margin: 10px;
}


.report-div {
  width: 90%;
  height: 40px;
  display: flex;

  align-items: center;
  justify-content: space-between;

  border: 1px solid var(--border-color);
  border-radius: 20px;
  margin: 10px auto; 
  padding: 20px;

  box-shadow: 0px 1px 6px -2px var(--border-color);
}

.report-box {
  width: 100%;

}

.report-box a {
  text-decoration-line: none;
  color: black;
  width: 100%;

  display: flex;
  justify-content: space-around;
}

/* 글 정렬 */
.report-box a span {
  text-align: center;
}

.report-box a span:nth-child(1) {
  width: 10%;
}
.report-box a span:nth-child(2) {
  width: 40%;
}

.report-box a span:nth-child(3) {
  width: 30%;
}
.report-box a span:nth-child(4) {
  width: 20%;
}




/* pagination-area css */

.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.pagination li{
  width: 20px;
  margin: 0 5px;
  text-align: center;
}

.pagination a{
  text-decoration-line: none;
  color: black;

  line-height: 24px;

  display: block;
  width: 24px;
  height: 24px;
}

.pagination a:hover {
  cursor: pointer;
}

.current {

  font-weight: bold;
  background-color: var(--main-color);
  border-radius: 50%;
  color: white !important;
  letter-spacing: 0 !important;
}



