* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu li {
  display: inline-block;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.menu-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}

.withdrawal-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px
}

h2 {
  margin-bottom: 50px;
  font-size: 24px;
  color: #333;
  text-align: left; /* 추가된 부분 */
}


label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  resize: none;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.checkbox label {
  font-size: 14px;
  margin-left: 10px;
}

#submitBtn {
  background-color: #67c8c5;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  width: 95%;
  margin-top: 50px;
}



