:root{
  --main-color : #61C0BF;
  --border-color : rgb(182, 182, 182);
}


.menu-container {
  display: flex;
  flex-direction: column;

  text-align: center;

  width: 200px;
  height: 280px;
  border: 1px solid var(--border-color);

  background-color: white;

  border-radius: 15px;
  
  padding: 20px;

  z-index: 2;

  position: absolute;
  top: 90px;
  right: 30px;


  display: none;
  

}

  



.profile-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
}

.sideP {
  margin: 20px 0;
  font-size: 14px;
  color: #333;
  margin-top: 30px;
  font-size: x-large;
}

.sideItem {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--main-color);
}
