


.menu-container {
  display: flex;
  flex-direction: column;
  /* display: none;  이거 없애고 생기고 하면 될거같은데..*/ 
  /* width: 13vw; */
  /* height: 45vh; */

  width: 300px;
  height: 500px;


  background-color: #fff;
  border-radius: 15px;
  
  padding: 20px;

  
  overflow: hidden; 
  text-align: center;
  
  
  /* -0------------------------------------------ */
  
  position: absolute;
  right: 0;
  display: none;
  

}

  



.profile-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
}

.sideP {
  margin: 20px 0;
  font-size: 14px;
  color: #333;
  margin-top: 30px;
  font-size: x-large;
}

.sideItem {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #007bff; /* Blue hover effect */
}
