* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}

.bodyItem {
    display: flex;
}

/* 서칭 박스 */
.searchBox {
    border: 2px solid #999999;
    border-radius: 50px;
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: space-around;
}

.categorySearch {
    background-color: transparent;
    border: none;
    font-size: 20px;
    width: 80%;
    height: 100%;
    border-radius: 50px;
    outline: none;
}
.categorySearch::placeholder {
    color: black;
    font-size: 15px;
    position: relative;
    left: 40px;

}

.categorySearch_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.categorySearch_btn:active {
    scale: 0.9;
}


.category {
    background-color: #BBDED6;
    min-height: 100vh;
    width: 25%;
}

.categoryBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

hr {
    width: 100%;
    height: 3px;
    color: black;

}

.categoryBtns {
    border: none;
    background-color: transparent;
    font-size: 15px;
    width: 100%;
    cursor: pointer;
}
.categoryBtns:active{
    background-color: burlywood;
    border-radius: 30px;
}



.categoryBtns_box {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
}

.categorySearchBox {
    width: 100%;
    margin: 30px;
}

/* ---------------------------------- section-------------------------------- */

.store-section {
    margin: 10px;
    border: 3px solid #DADADA;
    border-radius: 30px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    height: 300px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    word-break: break-all;
}
.store-section:hover{
    scale: 1.01;
    cursor: pointer;
}



.store-image img {
    background-color: #e0e0e0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.store-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    word-break: keep-all;
    margin-left: 20px;
}


.store-info p {
    margin: 5px 0;
    font-size: 20px;
}



.store-actions {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 20px;
}

.store-rating {
    margin: 4px;
    font-size: 20px;
}

.wishlist-button {
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.wishlist-button:hover {
    background-color: #d15e5e;
}

.wishlist-button:active {
    background-color: #e36f6f;
}






/* ------------------------------------------------------------  */


.floating-buttons {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.floating-buttons a {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #BBDED6;
    border: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;


    color: #5B9B9A;
    font-size: 30px;
    cursor: pointer;
    text-decoration-line: none;
}

.floating-buttons:active {
    width: 48px;
    height: 48px;
}

.heartBtn{
    border: none;
    background-color:transparent;
    cursor: pointer;
    font-size: 25px;
  }
  .heartBtn:hover{
    scale: 1.2;
  }
  .heartBtn:active{
    scale: 0.9;
  }
  