@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body		{ font-family: 'NanumSquare', sans-serif }
.normal		{ font-weight: 400 }
.bold		{ font-weight: 700 }
.bolder		{ font-weight: 800 }
.light		{ font-weight: 300 }

/* * {font-family: 'NEXON Lv1 Gothic OTF';} */

/* 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;

} */


/* 검색바 스타일 */
.search-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;

}


.board-box {
  min-height: 100vh;
}

/* 게시글 스타일 */
.post-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;

}

.post {
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 40px;
  position: relative;
  width: 60%;
  height: max-content;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* 버튼 영역 */
.board-btn-area {
  text-align: right;
}

/* 버튼 */
.board-btn-area button {
  background-color: #6EC3C2;
  width: 80px;
  height: 30px;
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.board-btn-area button:hover {
  background-color: white;
  color: #6EC3C2;
  border: 2px solid #6EC3C2;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
}

.post-title {
  font-weight: bold;
}

.post-name {
  margin-left: auto;
  color: gray;
  font-size: 12px;
}

.post-time {
  color: gray;
  font-size: 12px;
}

.post-content {
  margin-top: 10px;
  color: #333;
  width: 100%;
  display: flex;
}

.imageSize {
  margin-top: 30px;
  height: 200px;
  width: 200px;
}

.contentCss {
  margin-top: 30px;
  margin-left: 10px;
}

.post-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

/* 댓글 보기 토글 버튼 */
.comment-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #3b3d3d;
  font-weight: bold;
}

/* 삼각형 아이콘 */
.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #6EC3C2;
  margin-right: 5px;
}


/* 삼각형 뒤집은 */
.triangle-b {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid #6EC3C2;
  margin-right: 5px;
}

/* 글쓰기 버튼 스타일 */
.writeBtn {
  background-color: #6EC3C2;
  width: 8%;
  margin-left: 50%;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  position: fixed;
  bottom: 80px;
  right: 90px;
}

.writeBtn button:hover {
  background-color: white;
  color: #6EC3C2;
  border: 2px solid #6EC3C2;
}

/* 상단 버튼*/
#topBtn {
  position: fixed;
  bottom: 70px;
  right: 20px;
  border-radius: 50%;
  border: none;
  padding: 40;
  color: #6EC3C2;
  width: 60px;
  height: 60px;
  font-size: 40px;
  cursor: pointer;
}

/* .check{
  background-color: gray;
} */


/* 댓글 */

/* 댓글 post */
.comment-post-header {
  width: 100%;

  display: flex;
  align-items: center;
  height: max-content;

  line-height: 40px;
  gap: 15px;

}



/* 댓글 수정 ★★ margin-left : auto 로 가능!*/
.comment-post-update {
  margin-left: auto;
  color: gray;
  font-size: 12px;
}


/* 댓글 헤더 */
.post-header {
  display: flex;
  gap: 10px;
}



/* 댓글 숨기기 토글 버튼 */
.comment-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #3b3d3d;
  font-weight: bold;
}

.comment-write {

  margin-left: 7%;

  width: 80%;
  /* 너비 */
  height: 80px;
  /* 높이 */
  padding: 10px;
  /* 안쪽 여백 */
  border: 2px solid #ccc;
  /* 테두리 색상과 두께 */
  border-radius: 8px;
  /* 모서리 둥글게 */
  background-color: #f9f9f9;
  /* 배경색 */
  font-family: 'Arial', sans-serif;
  /* 글꼴 */
  font-size: 16px;
  /* 글자 크기 */
  color: #333;
  /* 글자 색상 */
  line-height: 1.5;
  /* 줄 간격 */
  resize: none;
  /* 크기 조절 가능 여부 (none: 비활성화) */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  /* 박스 그림자 */
  outline: none;
  /* 포커스 시 외곽선 제거 */

}

/* 댓글작성 스타일 */
.commentBtn-write {
  background-color: #6EC3C2;
  width: 8%;
  height: 40%;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 10px;
}


/***************************************************************/

/* 댓글 post */
.comment-child {
  background-color: #6EC3C2;
  border: none;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
  font-size: 10px;
}

.comment-child > div {
  position: absolute;
}


.comment-child:hover {
  background-color: white;
  color: #6EC3C2;
  border: 2px solid #6EC3C2;

}

/* 신고 */
.comment-report {
  background-color: #6EC3C2;
  border: none;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
  font-size: 10px;
}

/* 댓글 post
.comment-update {
  background-color: #6EC3C2;
  border: none;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
  font-size: 10px;
}

.comment-update:hover {
  background-color: white;
  color: #6EC3C2;
  border: 2px solid #6EC3C2;

}

/* 댓글 post */
/* .comment-delete {
  background-color: #6EC3C2;
  border: none;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
  font-size: 10px;
} */


/* .comment-delete:hover {
  background-color: white;
  color: #6EC3C2;
  border: 2px solid #6EC3C2;

} */


.commentDiv> .button1 {
  width: 50px;
  height: 40px;
  background-color: #6EC3C2;
  border: 1px solid #6EC3C2;
  color: white;
  cursor: pointer;
  font-size: 10px;
}


.commentDiv> .button1:hover {
  width: 50px;
  height: 40px;
  background-color: white;
  color: #6EC3C2;
  border: 2px solid #6EC3C2;
  font-size: 10px;
}





/***************************************************************/

.commentBtn:hover {
  background-color: white;
  color: #6EC3C2;
  border: 2px solid #6EC3C2;

}

/* 댓글작성 스타일 */
.commentBtn-picture {
  background-color: #6EC3C2;
  width: 8%;
  height: 40%;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 10px;
}

.textarea-main {
  display: flex;
  align-items: center;
  gap: 10px;

}


.commentDiv {
  display: flex;
  justify-content: end;
  margin-left: 70px;
}

.commentDiv>button {
  margin-right: 10px;
}

.commentProfile {
  width: 90%;
  display: flex;
}

.comment-id {
  width: 15%;
}

.comment-context {
  width: 80%;
}

.commentArea {
  margin-top: 20px;
}



/* //●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●● */
/* //●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●● */
/* //●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●● */
/* boardReport 란 */

.boardReport {
  width: 240px;
  height: max-content;
  border: 1px solid gray;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 40px;
  top: 75px;
  border-radius: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  margin-top: 5px;
}

.reportContent {
  border: none;  /* 평상 시 보이는 테두리 없앰 */
  outline: none; /* 클릭 시 보이는 테두리 없앰*/
  margin-left: 10px;
  margin-top: 5px;
}

.boardReport>span{
  margin-top: 8px;
}

.rtext{
  margin-left: 5px;
  font-size: 90%;
  color: #848585;
}

.boardReport>textarea {
  width: 90%;
  height: 85px;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: none;
}

/* .boardReport>span {
  width: 100%;
  height: 30px;
  color: #b9b9b9;

  resize: none;
} */

.boardReport>p:hover {
  width: 100%;
  height: 30px;
  border: 1px solid gray;
  background-color: antiquewhite;
  resize: none;
}

.click {
  background-color: antiquewhite;
}

.reportBtnArea{
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 6px;
}
/* 
.popupReview > textarea{
  width: 100%;
  height: 85px;
  border: 1px solid gray;
  resize: none;
  }
  .popupReview > button{
    transition: all 0.1s;
    width: 100%;
    text-align: start;
    border-radius: 5px;
    }
    
    .popupReview > button:hover{
      
    text-align: left;
    transition: all 0.1s;
    background-color: rgb(177, 177, 177);
    border-radius: 5x;
    }
    
    .selectReportBtn{
  background-color: rgb(177, 177, 177);
  border-radius: 5px;
  transition: all 0.1s;
  } */
  

  
  
  .boardReportHidden {
    display: none;
  }

  .commentReport {
    width: 50px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ffb3b3;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 10px;
  }
  
  .commentReport:hover{
    width: 50px;
    height: 40px;
    background-color: #ff0000;
    border: 1px solid #ffffff;
    color: ffffff;
    cursor: pointer;
    font-size: 10px;
  }


  .commentReportPopup{
    position: fixed;
    right: 650px;
    top: 330px;
    min-height: 240px;
    width: 232px;
    height: max-content;
    background-color: white;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 10px;
    z-index: 1;
  }

  .rc1{
    transition: all 0.1s;
    width: 100%;
    text-align: start;
    border-radius: 5px;
    font-family: 'NEXON Lv1 Gothic OTF';
  }
  .rc2{
    transition: all 0.1s;
    width: 100%;
    text-align: start;
    border-radius: 5px;
    font-family: 'NEXON Lv1 Gothic OTF';
  }
  .rc3{
    transition: all 0.1s;
    width: 100%;
    text-align: start;
    border-radius: 5px;
    font-family: 'NEXON Lv1 Gothic OTF';
  }

  .rc1:hover{
    text-align: left;
    transition: all 0.1s;
    background-color: rgb(177, 177, 177);
    border-radius: 5x;
  }

  .rc2:hover{
    text-align: left;
    transition: all 0.1s;
    background-color: rgb(177, 177, 177);
    border-radius: 5x;
  }

  .rc3:hover{
    text-align: left;
    transition: all 0.1s;
    background-color: rgb(177, 177, 177);
    border-radius: 5x;
  }

  .commentReportContent{
    width: 100%;
    height: 85px;
    border: 1px solid;
    resize: none;
  }

  .commentReportBtn{
    border: 1px solid #6EC3C2;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    transition: all 0.1s;
    width: 20%;
    text-align: start;
    border-radius: 5px;
    font-size: 92%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    
  }

  .commentReportBtn:hover{
    text-align: left;
    transition: all 0.1s;
    background-color: #6EC3C2;
    border-radius: 5x;
  }

  .commentCloseBtn{
    border: 1px solid #6EC3C2;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    transition: all 0.1s;
    width: 20%;
    text-align: start;
    border-radius: 5px;
    font-size: 92%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    background-color: white;
  }

  .commentCloseBtn:hover{
    text-align: left;
    transition: all 0.1s;
    background-color: #6EC3C2;
    border-radius: 5x;
  }

  .commentPopupHidden{
    display: none;
  }

  .commentclick{
    background-color: gray;
  }

/* 검색창 */

.search-box {
  display: flex;
  width: 400px;
  height: 30px;


  border-radius: 30px;
  margin-top: 20px;

  box-shadow: 0px 1px 6px -2px var(--border-color);

}

  #searchKey {
    width: 100px;
    height: 30px;
  
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  
    border: 1px solid var(--border-color);
    border-right: none;
  
    padding-left: 5px;
  }

  #searchQuery {
    width: 200px;
    height: 30px;
  
    padding: 10px;
  
    border: 1px solid var(--border-color);
    
  
  
  }

  .search-btn {
    width: 100px;
    height: 30px;
  
    padding-right: 10px;
  
    background-color: var(--main-color);
    color: white;
  
    border-left: none;
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  
  
  
  }

/* 검색결과 */

  .none-list {
    width: 100%;
    height: 30px;
    text-align: center;
  
    color: var(--border-color);
  }